{{template "header" .}}
<div class="px-6">
  <h1 class="py-4 text-4xl semibold tracking-tight">Contact page</h1>
  <p class="text-grey-800">
    To get in touch, email me at 
    <a class="underline" href="mailto:matthew.t.mckenney@gmail.com">email</a>
  </p>
</div>
{{template "footer" .}}
